body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    line-height: 1.6;
    background-color: #a04000;
    color: #333;
}

main {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: azure;
    border-radius: 10px;
}

h1 {
    color: #a04000;
    text-align: center;
}

h2 {
    color: #333;
    border-bottom: 2px solid #a04000;
    padding-bottom: 5px;
    text-align: center;
}

ul, ol {
    padding-left: 30px;
}

header {
    background-color: azure;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0 0.2);
}

.menu-principal ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-principal a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.menu-principal a:hover {
    background-color: #a04000;
    border-radius: 5px;
    color: antiquewhite;
}